@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');

/*-- scss:defaults --*/
// Base document colors
$body-bg: #fff;
$body-color: #333;
$link-color: #102d3d;
$link-color: #4a6777;
$text-muted: #333;

/*-- scss:variables --*/
$primary-color: #333;

/*-- scss:rules --*/
$code-color: #660033;

